.App {
  display: flex;
  justify-content: center;

  &__main-content {
    border-radius: 10px;
    border: 1px solid;
    padding: 20px;
    margin: 50px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid;
  }

  &__title {
    margin: 0;
  }

  &__count {
    font-size: large;
  }

}

.button {
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  border: 1px solid ;

  &:hover {
    box-shadow: 1px 1px 2px 1px rgba(115, 115, 115, 0.2);
    background-color: rgba(0, 0, 255, .2);
  }
}
